<ul
  style="
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  "
>
  <li style="list-style-type: none; margin: 10px">
    <img
      src="assets/wsp.svg"
      alt="Whatsapp"
      style="width: 40px; height: 85px"
      (click)="onClickSharedIcon('whatsapp')"
    />
  </li>
  <!-- <li style="list-style-type: none; margin: 10px">
    <img
      src="assets/ig.svg"
      alt="Instagram"
      style="width: 40px; height: 85px"
      (click)="onClickSharedIcon('instagram')"
    />
  </li> -->
  <li style="list-style-type: none; margin: 10px">
    <img
      src="assets/x.svg"
      alt="X"
      style="width: 40px; height: 85px"
      (click)="onClickSharedIcon('x')"
    />
  </li>
  <li style="list-style-type: none; margin: 10px">
    <img
      src="assets/msn.svg"
      alt="Messenger"
      style="width: 40px; height: 85px"
      (click)="onClickSharedIcon('messenger')"
    />
  </li>
  <!-- <li style="list-style-type: none; margin: 10px">
    <img
      src="assets/threads.svg"
      alt="Threads"
      style="width: 40px; height: 85px"
      (click)="onClickSharedIcon('threads')"
    />
  </li> -->
</ul>
